body {
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: white;
  text-align: center;
}

input, select {
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #38bdf8;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

.hidden {
  display: none;
}
